<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_ScopaRoyale._tcp</string>
		<string>_ScopaRoyale._udp</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
    <string>Usiamo il microfono per la registrazione audio durante il gioco.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Usiamo il riconoscimento vocale per interagire con il gioco tramite comandi vocali.</string>
</dict>
</plist>
